body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
    background-color:floralwhite;
  }
  header {
    background-color: #bc0c0c;
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    font-size:xx-large;
  }
  
  nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  .pics {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .mylist{
    text-align: center;
  }
  .listitems{
    display: inline-block;
    text-align: left;
  }
  .emp{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    color: black;
  }
  .common{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
  }
  iframe {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 20px auto;
  }
  .tableau-center {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .tableau-center iframe {
    width: 100%;
    max-width: 1200px;
    height: 777px;
    display: block;
    margin: 0 auto;
    border: none;
  }